*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.menu{
    border: 1px solid black;
    width: 50%;
    height: 600px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-image: url("../imagens/background-jogo.jpg");
}

.menu__yoshi{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__mario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__imagem__mario {
    width: 200px;
    height: 400px;
    margin-bottom: 2rem;
    
}

.menu__imagem__yoshi {
    width: 200px;
    height: 400px;
    margin-bottom: 2rem;
    
}

.menu__link__yoshi {
    text-decoration: none;
    font-size: 3rem;
    background-color: black;
    color: green;
    padding: 0.5rem;
    border-radius: 5px;
    border: 5px green solid;
}

.menu__link__mario {
    text-decoration: none;
    font-size: 3rem;
    background-color: black;
    color: red;
    padding: 0.5rem;
    border-radius: 5px;
    border: 5px red solid;
}

